<% content_for :header do %>
<section class="jumbotron is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the latest things with Yew Market
      </h1>
    </div>
  </div>
</section>
<% end %>

<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Title</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.brand %></td>
        <td><%= item.model %></td>
        <td><%= item.description %></td>
        <td><%= item.condition %></td>
        <td><%= item.title %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
